LSS prototype/.vs/LSS prototype/v17/.suo
LSS prototype/.vs/LSS prototype/v17/DocumentLayout.backup.json
LSS prototype/.vs/LSS prototype/v17/DocumentLayout.json
.vs/
bin/
obj/
*.db
*.exe
*.pdb
*.cache
*.suo
LSS_V1.0.0.zip
LSS prototype/CLAUDE.md
LSS prototype/.claude/settings.local.json
LSS prototype/.claude/launch.json
